body {
    font-family: 'Ubuntu' , sans-serif;
    background-color: rgb(238,238,238) 0%,rgb(169,184,195) 100%;
}

header {
    background-color: black;
    color: #ff7893;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 16px;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.titulo {
    font-weight: 700;
}

.navbar-expand-sm {
    border-bottom: 0px solid black;
    background-color: black;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #ff7893;
}

.nav-pills {
    margin-bottom: 2rem;
}

.navbar-toggler-icon {
    background-color: #ff7893;;
    border-radius: 8px;
}

section h3 {
    font-weight: 700;
    border-bottom: 2px solid #ff7893;
    line-height: 4rem;
    margin-bottom: 1.5rem;
    margin-left: 20px;
    margin-right: 20px;
    
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(211, 210, 214);
    border-radius: 16px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: #ff7893;
}

.carousel-caption {
    max-width: 900px;
    margin: 0 auto;
}

.carousel-item>img {
    max-width: 900px;
    width: 100%;
}

.carousel-caption:hover {
    color: #ff7893;
    cursor: pointer;
}

h4 {
    color: #fff;
    align-items: center;
    text-align: center;
}

.card {
    background-color: #ff7893;
    margin: 0 35px;
    cursor: pointer;
    margin-top: 16px;
}

.card:hover {
    transform: scale(1.03, 1.03);
}

.news {
    margin-top: 60px;
}

.musica .col {
    width: 100%;
}

.festival .col {
    width: 100%;
}

.news,
.musica,
.festival {
    padding: 3rem;
    padding-bottom: 20px;
}

.social-links img {
    height: 24px;
    display: inline;
}

.social-links li {
    display: inline;
    cursor: pointer;

}

footer {
    background-color: black;
    color: #fff;
    padding: 16px 0;
    width: 100%;
    
}

/* ---------Media Queries-------------- */

@media screen and (max-width: 767px) {
    .navbar-expand-sm .navbar-nav {
        align-items: center;
        width: 100%;
    }

    .navbar-nav {
        flex-direction: column;   
      }
    
      .nav-link {   
        padding: 0.5rem 0;   
      }
    
      .titulo {   
        margin-left: 0;   
      }

    .navbar-expand-sm .navbar-nav li {
        width: 100%;
        text-align: center;
    }

    .container {
        max-width: 90%;
        display: block;
    }

    #news {
        display: block;
        font-size: 1.5em;
        margin-bottom: 56px;
    }

    #carousel-exemplo {
        display: block;
        justify-content: center;
        width: 100vw;
        margin-right: 0;
    }

    #musica,
    #festival {
        display: block;
    }

    .musica .card {
        margin-bottom: 32px;
    }

    .festival .card {
        margin-bottom: 32px;
    }

    .container .card {
        width: 90%;
    }

    .carousel-caption:hover {
        color: #ff7893;
        cursor: pointer;
        font-size: small;
    }

    h2 {
        font-size: small;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
    max-width: 12px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
    background-color: rgb(211, 210, 214);
    border-radius: 12px;
    }

    /* Estilos para dispositivos maiores (acima de 1024px) */

@media (min-width: 1025px) {
    .navbar-expand-sm .navbar-nav {
        align-items: center;
        width: 100%;
    }

    .festival .card {
        margin-bottom: 32px;
    }

    footer {
        font-size: small;
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
    }
  }

}

